@import "../../styles/variables.module.scss";
@import "../../styles/mixin.module.scss";

.container {
  position: relative;
  width: 100vw;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.main {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  max-width: 190rem;

  padding-top: 15vh;
  padding-bottom: 15vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100rem;
  width: 80vw;
  height: 100%;

  & h2 {
    font-family: $titleFont;
    font-weight: 400;
    font-size: 2.4rem;
    margin-bottom: 2rem;
    color: white;
    letter-spacing: 0.05em;

    & span {
      color: #f4911d;
    }

    @include l {
      font-size: 4.8rem;
      margin-bottom: 4rem;
    }
  }

  &_body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;

    &_section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      margin: 2rem 0;

      width: 100%;

      & h3 {
        font-family: $titleFont;
        color: $white;
        font-weight: 400;
        font-size: 2.4rem;

        @include l {
          font-size: 4.8rem;
        }
      }

      &_projs {
        list-style: none;
        padding: 2rem 0;
        margin: 1rem 0;

        position: relative;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;

        width: 100%;
        overflow-x: auto;

        &::-webkit-scrollbar {
          display: block;
          height: 0.3rem;
        }

        &::-webkit-scrollbar-track {
          color: #000;
          background-color: #000;
        }

        &::-webkit-scrollbar-thumb {
          color: $orange;
          background-color: $orange;
        }

        &_card {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          margin: 0 1.2rem;

          @include l {
            margin: 0 2rem;
          }

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }

          &_image {
            position: relative;
            height: 14rem;
            width: 14rem;
            border-radius: 0.5rem;
            overflow: hidden;

            @include l {
              height: 18rem;
              width: 18rem;
            }
          }

          &_title {
            font-family: $titleFont;
            color: $orange;
            font-size: 1.8rem;
            margin: 1rem 0;
          }

          &_sub {
            font-family: $titleFont;
            color: $white;
            font-size: 1.4rem;
            margin-top: 0;
            margin-bottom: 1rem;
          }

          &_socials {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            width: 80%;

            & a {
              & svg {
                transition: all 0.5s ease;
                fill: $white;

                & path {
                  fill: $white;
                }
              }

              &:hover {
                & svg {
                  transition: all 0.5s ease;
                  fill: #f4911d;

                  & path {
                    fill: #f4911d;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
