@import "~bootstrap/scss/bootstrap";

@import "styles/variables.module.scss";
@import "../styles/mixin.module.scss";

@import "styles/base/base";
@import "styles/base/typography";

@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;700&family=Orbitron:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");
@import "react-alice-carousel/lib/scss/alice-carousel.scss";

// font-family: 'Bai Jamjuree', sans-serif;
// font-family: 'Orbitron', sans-serif;

html,
body {
  padding: 0;
  margin: 0;

  // Set your font family here
  font-family: "Source Sans Pro", "Antonio", "Anton", "Lato", sans-serif;
  position: relative;

  overflow-x: hidden;
  overscroll-behavior: none;

  &::-webkit-scrollbar {
    display: block;
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    color: #000;
    background-color: #000;
  }

  &::-webkit-scrollbar-thumb {
    color: #f4911d;
    background-color: #f4911d;
  }
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-bottom: 0rem;
}

* {
  box-sizing: border-box;
}

.alice-carousel__stage-item {
  width: 25rem !important;

  @include l {
    width: 25rem !important;
  }
}
